* {
  box-sizing: border-box;
}



/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: #dee9f3;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  box-shadow: rgb(189 172 172 / 30%) 0px 19px 38px, rgb(0 0 0 / 10%) 0px 5px 6px;
  background-color: white;
  padding: 20px;
   margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
.pagination {
  display: flex;
  justify-content: center;
  box-shadow: rgb(189 172 172 / 30%) 0px 19px 38px, rgb(0 0 0 / 10%) 0px 5px 6px;
  width: fit-content;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #e3dede;
}

.pagination a.active {
  background-color: #1f568b;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}